'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Dyndoc Viewer'
    'submenu': [
    	{
      		'label': 'Toggle Viewer'
      		'command': 'dyndoc-viewer:toggle'
      	},
      	{
      		'label': 'Eval Dyndoc'
      		'command': 'dyndoc-viewer:eval' 
    	}
    ]
  ]
]